<div class='modal fade in' id='form_modal' role='modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <h4 class='modal-title text-center'><%= t '.sign_up' %></h4>
      </div>
      <div class='modal-body'>
        <%= render 'users/form' %>
      </div>
    </div>
  </div>
</div>
