<% provide :title, t('.comics') %>

<h1><%= @category&.name || t('.comics') %></h1>
<% if @comics.present? %>
  <div class='content'>
    <%= render @comics.title_asc %>
  </div>
<% else %>
  <p><%= t '.error' %></p>
<% end %>
