<li id='chapter-<%= chapter.id %>'>
  <span><%= link_to chapter.title, comic_chapter_path(chapter.comic, chapter) %></span>
  <% if logged_in? && current_user.admin? %>
    <%= link_to t('.delete'), comic_chapter_path(chapter.comic, chapter), method: :delete, data: { confirm: t('.sure') } %>
  <% end %>
</li>
