<% provide :title, t('.categories') %>
<h1><%= t '.categories' %></h1>

<ul>
  <%= render @categories %>
</ul>
<div>
  <% if logged_in? && current_user.admin? %>
    <%= render 'shared/category_form' %>
  <% end %>
</div>
